<footer>

    <div class="info">
        <div class="texto">

           

            <p>El secreto para lograr la calidad, la frescura y el sabor inigualable de los productos que elaboramos
                responde a un arte, que se transmite de generación en generación y se basa en la pasión por lo que
                hacemos.
            </p>

            <div class="icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
            </div>
        </div>

        <div class="iconos">

            <div class="iconos_1">
                <i class="fa-solid fa-phone"></i>
                <h3>+54 212 534 345</h3>
            </div>

            <div class="iconos_1">
                <i class="fa-solid fa-earth-americas"></i>
                <h3></i>sarasbakery.com.ar</h3>
            </div>
            <div class="iconos_1">
                <i class="fa-solid fa-envelope"></i>
                <h3>info@sarasbakery.com.ar</h3>
            </div>
            <div class="iconos_1">
                <i class="fa-regular fa-clock"></i>
                <h3>Martes a Domingo: 7AM - 13PM y 16PM - 20:30PM</h3>
            </div>

        </div>
    </div>


    <div class="final">
        <p>Sara's Bakery - Panadería | Todos los derechos reservados @ 2024</p>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>