<%- include('../partials/head')%>
 

<div class="about">
     <div class="titles">
        <h2>¿Quien es Sara's Bakery?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt ex sed sem pretium, id rhoncus nibh sollicitudin. Suspendisse lacinia arcu porttitor metus tristique, eget fringilla risus varius. Integer vestibulum sapien id ante venenatis, vel porttitor nisl egestas. Vestibulum semper mi sem, quis tristique dolor lobortis ac.</p>
        <h3>Trabaja con nosotros,<a href="#"> manda tu cv acá!</a></h3>
     </div>
     <div class="fotico">
        <img src="/images/retro.jpg" alt="">
     </div>
</div>

<%- include('../partials/footer')%>