<%- include('../partials/head')%>

  

    <div class="hero">
        <div class="informacion">
            <h1>La mejor panadería de tu barrio!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis porta blandit. In
                ultricies
                arcu at sem tincidunt, eget mattis ipsum mollis. Donec eget viverra nibh, ut maximus arcu.
                Nullam
                pellentesque iaculis nulla nec placerat. Vestibulum mollis ornare rutrum. Quisque auctor posuere
                odio et
                fermentum. </p>
            <button>Order Now!</button>
        </div>


        <div class="banner">
            <img src="/images/torta.png" alt="">
        </div>
    </div>


    <section class="primera_section">

        <div class="titulos">
            <h2>Especialidad Semanal!</h2>
            <p>Prueba nuestros postres más populares y nota la diferencia!</p>
        </div>

        <div class="cartas">

            <div class="card" style="width: 18rem;">
                <img src="/images/torta1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pastel de Chocolate</h5>
                    <p class="card-text">$5000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-secondary">Agregar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/torta2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pastel de Almendras</h5>
                    <p class="card-text">$7000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-secondary">Agregar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/torta4.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Pastel de Frutilla</h5>
                    <p class="card-text">$5000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-secondary">Agregar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/torta3.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Pastel de Vainilla</h5>
                    <p class="card-text">$4500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-secondary">Agregar</a>
                </div>
            </div>
        </div>
    </section>


    <section class="segunda_section">


        <div class="section_dos">
            <div class="foto">
                <img src="/images/bakery.jpg" alt="">
            </div>

            <div class="foto_info">
                <h2>Sara's Bakery</h2>
                <div class="estrellas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, elit id aliquam
                    venenatis,
                    libero ante egestas ante, ac mollis tellus dui ut enim. Sed nec vehicula turpis.</p>
                <button>Descubre Más</button>
                <div class="foto_icon">
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>

            </div>

        </div>
    </section>

    <section class="final-container">

        <div class="ultima_fase">
            <div class="anuncio1">
                <img src="/images/confiteria.jpg" alt="">
                <h2 class="aviso">Ahora tambien somos confiteria! </h2>
                <button>Proximamente</button>
            </div>
            <div class="anuncio2">
                <img src="/images/cv.jpg" alt="">
                <h2 class="aviso">Trabaja con nosotros! Envianos tu cv</h2>
                <button>Enviar CV</button>
            </div>
            <div class="anuncio3">
                <img src="/images/delivery.jpg" alt="">
                <h2 class="aviso">Hacemos envios fuera de la ciudad!</h2>
                <button>Delivery</button>
            </div>
        </div>

    </section>

    <%- include('../partials/footer')%>